/* IMPORT FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

/* GENERAL STYLES */
html {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    min-height: 100vh;

    text-align: center;
    padding: 0.25em 0.5em;

    background-color: #d2f8f9;
}

button {
    position: relative;
    font-size: inherit;
    font-weight: bold;
    padding: 0.5em;

    background-color: #fb7756;
    border: none;
    color: #facd60;

    transition: color 0.3s linear;
}

button::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #facd60;
    z-index: -1;

    transition: transform 0.3s linear;
    transform: scaleX(0);
    transform-origin: left;
}

button:hover::before {
    transform: scaleX(1);
}

button {
    z-index: 1;
}

button:hover {
    color: #fb7756;
}

/* HEADER SECTION */
header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 0.5em;
}

#header-title, #round-text {
    color: #fb7756;
}

#score-container {
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: #facd60;
}

/* GAME SECTION */

/* VERSUS CONTAINER */
#versus-container {
    display: flex;
    align-items: center;
    gap: 2em;
}

#versus-container {
    color: #facd60;
}

#versus-container img {
    height: 128px;
    width: 128px;
}

main {
    flex: 0.5;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column nowrap;
    gap: 1rem;
}

main h2, main h3 {
    display: inline-block;
    color: #fb7756;
}

#game-header {
    color: #fb7756;
}

/* GAME OPTIONS */
#game-options-list {
    display: flex;
    gap: 0.5em;

    list-style: none;
}

/* FOOTER SECTION */
footer {
    color: #facd60;
}

